{% extends 'testpwp/index.html' %}
{% block content %}
<div class="container" style="max-width:1500px;">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="_blogCard bg-white rounded mb-4 mt-5 pl-4 pr-4 pb-4 pt-2">
        <div class="row">
          <div class="col-lg-7 col-md-12 col-sm-12 h-100">
            <div class="row">
              <div class="col-md-12 mb-2">
                <img src="https://cdn2.hubspot.net/hubfs/322787/Mychefcom/images/BLOG/Header-Blog/photo-culinaire-pexels.jpg" alt="" class="img-fluid rounded position-relative _moveTop shadow-lg">
              </div>
              <div class="col-md-12 d-inline-flex align-items-center justify-content-between">
                <div class="_day text-center align-self-center">
                  <span class="_date d-block">23</span>
                  May
                </div>
                <div class="_shareIcons align-self-end">
                  <ul class="m-0 list-unstyled d-inline-flex">
                    <!-- <li class="ml-1 mr-1"><a href="#" class="_textGray"><i class="material-icons">visibility</i></a></li>
                    <li class="ml-1 mr-1"><a href="#" class="_textGray"><i class="material-icons">favorite_border</i></a></li> -->
                    <li class="ml-1 mr-1"><a href="#" class="_textGray"><i class="material-icons">mail_outline</i></a></li>
                    <li class="ml-1 mr-1"><a href="#" class="_textGray"><i class="material-icons">share</i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12 h-100">
            <div class="row">
              <div class="col-md-12">
               <div class="pb-2 mb-2 border-bottom">
                 <div class="_blogTitle font-weight-bold h1"> Following is the analysis</div>
                <!-- <div class="badge badge-pill mt-2 bg-primary text-white pt-1 pb-1 pl-1 pr-2 d-inline-flex align-items-center">
                  <i class="material-icons mr-1">account_circle</i>
                  John Doe
                </div> -->
                </div>
              </div>
              <div class="col-md-12">
               <div class="_content _textGray mt-2">
                  1.Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis esse illo veniam molestias? Quaerat reprehenderit minus accusamus laudantium iste molestiae at obcaecati impedit nesciunt ratione error quia necessitatibus, voluptas non.
                  2.Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis esse illo veniam molestias? Quaerat reprehenderit minus accusamus laudantium iste molestiae at obcaecati impedit nesciunt ratione error quia necessitatibus, voluptas non.
                  3.Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis esse illo veniam molestias? Quaerat reprehenderit minus accusamus laudantium iste molestiae at obcaecati impedit nesciunt ratione error quia necessitatibus, voluptas non.
                  4.Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis esse illo veniam molestias? Quaerat reprehenderit minus accusamus laudantium iste molestiae at obcaecati impedit nesciunt ratione error quia necessitatibus, voluptas non.
                  5.Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis esse illo veniam molestias? Quaerat reprehenderit minus accusamus laudantium iste molestiae at obcaecati impedit nesciunt ratione error quia necessitatibus, voluptas non.
                  6.Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis esse illo veniam molestias? Quaerat reprehenderit minus accusamus laudantium iste molestiae at obcaecati impedit nesciunt ratione error quia necessitatibus, voluptas non.
                  7.Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis esse illo veniam molestias? Quaerat reprehenderit minus accusamus laudantium iste molestiae at obcaecati impedit nesciunt ratione error quia necessitatibus, voluptas non.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}